@charset "UTF-8";
/*! bullframe.css v3.1.0 | MIT License | https://github.com/marcop135/bullframe.css */
*,
*:before,
*:after {
  box-sizing: border-box; }

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
details {
  display: block; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@-ms-viewport {
  width: device-width; }

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 62.5%;
  color: #222;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  line-height: 1.5;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: left;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-weight: 600; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-bottom: 24px; }

h1,
h2,
h3 {
  margin-bottom: 24px;
  margin-bottom: 24px; }

h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-bottom: 12px; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-size: 30px;
  font-size: 3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 20px;
  font-size: 2rem; }

h5,
h6 {
  font-size: 17px;
  font-size: 1.7rem; }

blockquote {
  margin: 0 0 24px 0;
  margin-bottom: 2.4rem;
  padding-left: 0;
  font-style: italic; }

blockquote p {
  margin-bottom: 0; }

blockquote small {
  color: #999;
  display: block; }

blockquote small:before {
  content: "\2014 \00A0"; }

q {
  quotes: "“" "”" "‘" "’"; }

pre {
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0; }

pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  -ms-overflow-style: auto;
  display: block; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875em; }

code {
  word-wrap: break-word; }

pre code {
  font-size: inherit;
  word-break: normal; }

p {
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
          text-decoration-skip: none; }

mark {
  background-color: #ff0;
  color: #000;
  font-weight: 700;
  font-weight: 600; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: 700;
  font-weight: 600; }

dfn {
  font-style: italic; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -8px;
  top: -0.8rem; }

sub {
  bottom: -4px;
  bottom: -0.4rem; }

small {
  font-size: 80%; }

hr {
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 24px 0;
  margin: 2.4rem 0;
  padding: 0;
  overflow: visible; }

address {
  font-style: normal;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  line-height: inherit; }

summary {
  display: list-item;
  cursor: pointer; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-decoration-skip-ink: objects;
          text-decoration-skip-ink: objects; }
  a:hover, a:focus {
    text-decoration: underline;
    color: #0056b3; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

:focus:not(:focus-visible) {
  outline: none; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

a:focus,
input:focus {
  outline: 2px solid orange; }

:focus-visible {
  outline: 2px solid orange; }

button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="tel"]:focus,
[type="search"]:focus,
[type="text"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="radio"]:focus,
[type="checkbox"]:focus,
select:focus,
textarea:focus {
  outline: 0; }

menu,
ol,
ul,
dl {
  margin: 0 0 24px 0;
  margin: 0 0 2.4rem 0;
  padding: 0; }

menu ul,
menu ol,
ul ul,
ul ol,
ol ol,
ol ul,
dd {
  margin-bottom: 0; }

ul,
ol {
  margin-left: 24px;
  margin-left: 2.4rem; }

nav ol,
nav ul {
  list-style: none;
  list-style-image: none;
  margin-left: 0; }

dt {
  font-weight: 700; }

dd {
  margin-left: 0; }

audio,
canvas,
progress,
video {
  display: inline-block; }

img,
canvas,
audio,
video,
iframe,
object,
embed {
  max-width: 100%; }

audio,
video,
canvas,
img,
svg {
  vertical-align: middle; }

img {
  height: auto;
  border-style: none; }

figure {
  margin: 0; }

figure,
figcaption {
  display: block; }

video {
  height: auto; }

audio {
  width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

svg:not(:root) {
  overflow: hidden; }

progress,
meter {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  max-width: 100%; }

iframe {
  border: 0; }

html input,
button,
select,
optgroup,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

html input,
button,
[type="radio"],
[type="checkbox"],
select,
optgroup,
textarea {
  margin: 0; }

html input,
select,
textarea,
legend {
  width: 100%; }

html label,
button,
[type="image"],
[type="submit"],
[type="reset"],
html [type="button"],
[type="radio"],
[type="checkbox"] {
  width: auto; }

html input,
label,
select,
textarea,
button,
html [type="button"],
[type="reset"],
[type="submit"],
output {
  display: inline-block; }

[type="file"] {
  display: block;
  background-color: transparent; }

::-webkit-file-upload-button {
  font: inherit; }

button,
html input,
select,
textarea {
  background-image: none; }

input,
select,
textarea {
  vertical-align: baseline; }

form {
  margin: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; }

legend {
  display: block;
  display: table \9;
  max-width: 100%;
  white-space: normal;
  border: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  font-size: inherit;
  line-height: inherit;
  color: inherit; }

label {
  font-weight: 700;
  font-weight: 600;
  font-size: 90%;
  margin-bottom: 6px;
  margin-bottom: 0.6rem; }

label input,
label select,
label textarea {
  font-size: 110%; }

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -3px;
  outline-offset: -0.3rem; }

output {
  vertical-align: middle; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: 700;
  font-weight: 600; }

button,
html [type="button"],
[type="reset"],
[type="submit"],
[type="email"],
[type="number"],
[type="text"],
[type="tel"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="url"],
[type="image"],
[type="password"],
[type="search"],
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
textarea {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[type="date"],
[type="time"],
[type="datetime-local"],
[type="month"] {
  -webkit-appearance: listbox;
     -moz-appearance: listbox;
          appearance: listbox; }

button,
input,
select,
textarea {
  border-radius: 3px;
  border-radius: 0.3rem; }

[type="radio"] {
  border-radius: 50%; }

[type="checkbox"] {
  border-radius: 6px;
  border-radius: 0.6rem; }

[type="radio"],
[type="checkbox"] {
  background-color: #fff; }

[type="range"] {
  background-color: transparent; }

select[size],
select[multiple] {
  height: auto; }

select[multiple] {
  background-image: none; }

optgroup::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  height: auto;
  min-height: 60px;
  min-height: 6rem;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  line-height: normal;
  text-align: center;
  margin: 0;
  background-clip: padding-box;
  vertical-align: baseline;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0;
  background-image: none; }
  button:hover, button:active, button:focus,
  [type="button"]:hover,
  [type="button"]:active,
  [type="button"]:focus,
  [type="reset"]:hover,
  [type="reset"]:active,
  [type="reset"]:focus,
  [type="submit"]:hover,
  [type="submit"]:active,
  [type="submit"]:focus {
    text-decoration: none;
    color: #222; }

button,
select,
input[type="submit"],
input[type="button"],
[type="checkbox"],
[type="range"],
[type="radio"],
[role="button"] {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #666; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666; }

input::placeholder,
textarea::placeholder {
  color: #666; }

input:invalid,
select:invalid,
textarea:invalid,
input:invalid:focus,
select:invalid:focus,
textarea:invalid:focus {
  color: #ff0000;
  border-color: #ff0000;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25); }

fieldset[disabled] button,
fieldset[disabled] input,
fieldset[disabled] input:after,
fieldset[disabled] input:before,
fieldset[disabled] input:checked,
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] label,
button[disabled],
input[disabled],
input[disabled]:after,
input[disabled]:before,
input[disabled]:checked,
select[disabled],
textarea[disabled] {
  cursor: default !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important; }

[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="search"],
[type="text"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="time"],
[type="url"],
[type="range"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #999;
  padding: 6px 9px;
  padding: 0.6rem 9px; }

@media \0screen {
  [type="email"],
  [type="number"],
  [type="password"],
  [type="tel"],
  [type="search"],
  [type="text"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="time"],
  [type="week"],
  [type="time"],
  [type="url"],
  [type="range"] {
    padding-top: 0;
    padding-bottom: 0;
    height: 38px;
    line-height: 38px; } }

@media screen and (min-width: 0\0) and (-webkit-min-device-pixel-ratio: 0.75), screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  [type="email"],
  [type="number"],
  [type="password"],
  [type="tel"],
  [type="search"],
  [type="text"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="time"],
  [type="week"],
  [type="time"],
  [type="url"],
  [type="range"] {
    line-height: 1.2; } }

[type="email"]:active, [type="email"]:focus,
[type="number"]:active,
[type="number"]:focus,
[type="password"]:active,
[type="password"]:focus,
[type="tel"]:active,
[type="tel"]:focus,
[type="search"]:active,
[type="search"]:focus,
[type="text"]:active,
[type="text"]:focus,
[type="date"]:active,
[type="date"]:focus,
[type="datetime-local"]:active,
[type="datetime-local"]:focus,
[type="month"]:active,
[type="month"]:focus,
[type="time"]:active,
[type="time"]:focus,
[type="week"]:active,
[type="week"]:focus,
[type="time"]:active,
[type="time"]:focus,
[type="url"]:active,
[type="url"]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus,
[type="radio"]:active,
[type="radio"]:focus,
[type="checkbox"]:active,
[type="checkbox"]:focus {
  transition: border 0.2s, background-color 0.2s, box-shadow 0.2s;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.25); }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  color: #222;
  padding: 8px 16px;
  padding: 0.8rem 1.6rem;
  background: #ccc;
  transition: color 0.2s, background 0.2s, box-shadow 0.2s; }
  button:hover, button:active, button:focus,
  [type="button"]:hover,
  [type="button"]:active,
  [type="button"]:focus,
  [type="reset"]:hover,
  [type="reset"]:active,
  [type="reset"]:focus,
  [type="submit"]:hover,
  [type="submit"]:active,
  [type="submit"]:focus {
    text-decoration: none;
    color: #222;
    background: #b3b3b3; }
  button:active, button:focus,
  [type="button"]:active,
  [type="button"]:focus,
  [type="reset"]:active,
  [type="reset"]:focus,
  [type="submit"]:active,
  [type="submit"]:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15); }

select:not([size]):not([multiple]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

select::-ms-expand {
  display: none; }

select:not([size]):not([multiple]) {
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.85rem center/8px 10px;
  padding-right: 24px;
  padding-right: 2.4rem; }

@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  select {
    padding-right: 6px;
    background-image: none;
    background-repeat: repeat; } }

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  [type="checkbox"],
  [type="radio"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 2.8rem;
    width: 2.8rem;
    vertical-align: top;
    position: relative;
    border: 1px solid #999; }
    [type="checkbox"] + label,
    [type="radio"] + label {
      line-height: 2.8rem;
      vertical-align: top;
      margin-left: 6px;
      margin-left: 0.6rem; }
    [type="checkbox"]:after,
    [type="radio"]:after {
      content: "";
      display: block;
      position: absolute; }
    [type="checkbox"]:checked,
    [type="radio"]:checked {
      background-color: #007bff;
      border-color: #000; }
  [type="checkbox"]:after {
    width: 0.6rem;
    height: 1rem;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    left: 1rem;
    top: 0.7rem;
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg); }
  [type="radio"]:after {
    width: 2.8rem;
    height: 2.8rem;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: #fff;
    -webkit-transform: scale(0.35);
            transform: scale(0.35); } }

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    [type="radio"]:after {
      left: -0.05rem;
      top: -0.05rem; } } }

table {
  max-width: 100%;
  border-collapse: collapse; }

thead th {
  vertical-align: bottom; }

th,
td {
  vertical-align: top; }

th {
  text-align: inherit; }

caption {
  padding-top: 6px;
  padding-top: 0.6rem;
  padding-bottom: 6px;
  padding-bottom: 0.6rem;
  color: #999;
  text-align: left;
  caption-side: bottom; }

th {
  font-weight: 700;
  font-weight: 600; }

.bf-container,
.bf-container--fluid {
  box-sizing: content-box;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-left: 1.2rem;
  padding-right: 12px;
  padding-right: 1.2rem; }
  @media (min-width: 768px) {
    .bf-container,
    .bf-container--fluid {
      padding-left: 24px;
      padding-left: 2.4rem;
      padding-right: 24px;
      padding-right: 2.4rem; } }
  .bf-container:before, .bf-container:after,
  .bf-container--fluid:before,
  .bf-container--fluid:after {
    display: table;
    content: " "; }
  .bf-container:after,
  .bf-container--fluid:after {
    clear: both; }

.bf-container {
  max-width: 1152px;
  max-width: 115.2rem; }

.bf-row {
  display: block;
  margin-left: -12px;
  margin-left: -1.2rem;
  margin-right: -12px;
  margin-right: -1.2rem; }
  @media (min-width: 768px) {
    .bf-row {
      margin-left: -24px;
      margin-left: -2.4rem;
      margin-right: -24px;
      margin-right: -2.4rem; } }
  .bf-row:before, .bf-row:after {
    content: " ";
    display: table; }
  .bf-row:after {
    clear: both; }

[class^="bf-col-"] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-left: 1.2rem;
  padding-right: 12px;
  padding-right: 1.2rem; }
  @media (min-width: 768px) {
    [class^="bf-col-"] {
      padding-left: 24px;
      padding-left: 2.4rem;
      padding-right: 24px;
      padding-right: 2.4rem; } }

.bf-no-gutters {
  margin-right: 0;
  margin-left: 0; }

.bf-no-gutters > [class^="bf-col"] {
  padding-right: 0;
  padding-left: 0; }

.bf-col-12 {
  width: 100%; }

.bf-col-11 {
  width: 91.66666666666666%; }

.bf-col-10 {
  width: 83.33333333333334%; }

.bf-col-9 {
  width: 75%; }

.bf-col-8 {
  width: 66.66666666666666%; }

.bf-col-7 {
  width: 58.333333333333336%; }

.bf-col-6 {
  width: 50%; }

.bf-col-5 {
  width: 41.66666666666667%; }

.bf-col-4 {
  width: 33.33333333333333%; }

.bf-col-3 {
  width: 25%; }

.bf-col-2 {
  width: 16.666666666666664%; }

.bf-col-1 {
  width: 8.3333%; }

@media (max-width: 575px) {
  .bf-container--break-xs .bf-row {
    margin-left: 0;
    margin-right: 0; }
  .bf-container--break-xs [class^="bf-col"] {
    width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767px) {
  .bf-container--break-md .bf-row {
    margin-left: 0;
    margin-right: 0; }
  .bf-container--break-md [class^="bf-col"] {
    width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 991px) {
  .bf-container--break-lg .bf-row {
    margin-left: 0;
    margin-right: 0; }
  .bf-container--break-lg [class^="bf-col"] {
    width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; } }

table td[class^="bf-col"],
table th[class^="bf-col"] {
  position: static; }

.bf-clearfix:before,
.bf-clearfix:after {
  content: " ";
  display: table; }

.bf-clearfix:after {
  clear: both; }

.bf-hide {
  display: none !important; }

.bf-hidden {
  display: none !important;
  visibility: hidden !important; }

.bf-text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

/*
// taken from https://github.com/h5bp/html5-boilerplate/blob/v7.3.0/dist/css/main.css
// 
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.bf-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/*
// taken from https://github.com/h5bp/html5-boilerplate/blob/v7.3.0/dist/css/main.css
// 
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.bf-sr-only.focusable:active,
.bf-sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

.bf-invisible {
  visibility: hidden; }

.bf-visible {
  visibility: visible; }

.bf-display-block {
  display: block; }

.bf-display-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.bf-display-inline {
  display: inline; }

.bf-display-inline-block {
  display: inline-block; }

.bf-display-flex {
  display: -webkit-flex !important;
  display: flex !important; }

.bf-display-inline-flex {
  display: -webkit-inline-flex !important;
  display: inline-flex !important; }

.bf-float-right {
  float: right; }

.bf-float-left {
  float: left; }

.bf-position-fixed {
  position: fixed; }

.bf-align-center-unknown {
  display: table;
  width: 100%; }

.bf-align-center-unknown--item {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.bf-m-0 {
  margin: 0 !important; }

.bf-m-t-0 {
  margin-top: 0 !important; }

.bf-m-b-0 {
  margin-bottom: 0 !important; }

.bf-m-l-0 {
  margin-left: 0 !important; }

.bf-m-r-0 {
  margin-right: 0 !important; }

.bf-m-b-6 {
  margin-bottom: 6px !important;
  margin-bottom: 0.6rem !important; }

.bf-m-b-12 {
  margin-bottom: 12px !important;
  margin-bottom: 1.2rem !important; }

.bf-m-b-24 {
  margin-bottom: 24px !important;
  margin-bottom: 2.4rem !important; }

.bf-m-b-36 {
  margin-bottom: 36px !important;
  margin-bottom: 3.6rem !important; }

.bf-p-0 {
  padding: 0 !important; }

.bf-p-t-0 {
  padding-top: 0 !important; }

.bf-p-b-0 {
  padding-bottom: 0 !important; }

.bf-p-l-0 {
  padding-left: 0 !important; }

.bf-p-r-0 {
  padding-right: 0 !important; }

.bf-p-t-6 {
  padding-top: 6px !important;
  padding-top: 0.6rem !important; }

.bf-p-t-12 {
  padding-top: 12px !important;
  padding-top: 1.2rem !important; }

.bf-p-t-24 {
  padding-top: 24px !important;
  padding-top: 2.4rem !important; }

.bf-p-t-36 {
  padding-top: 36px !important;
  padding-top: 3.6rem !important; }

.bf-p-b-6 {
  padding-bottom: 6px !important;
  padding-bottom: 0.6rem !important; }

.bf-p-b-12 {
  padding-bottom: 12px !important;
  padding-bottom: 1.2rem !important; }

.bf-p-b-24 {
  padding-bottom: 24px !important;
  padding-bottom: 2.4rem !important; }

.bf-p-b-36 {
  padding-bottom: 36px !important;
  padding-bottom: 3.6rem !important; }

.bf-t-transform-uppercase {
  text-transform: uppercase; }

.bf-t-transform-none {
  text-transform: none; }

.bf-t-left {
  text-align: left; }

.bf-t-center {
  text-align: center; }

.bf-t-right {
  text-align: right; }

.bf-t-shadow {
  text-shadow: 0 0 0.2rem #222; }

.bf-t-italic {
  font-style: italic; }

.bf-t-style-normal {
  font-style: normal; }

.bf-t-weight-400 {
  font-weight: 400; }

.bf-t-weight-500 {
  font-weight: 500; }

.bf-t-weight-600 {
  font-weight: 600; }

.bf-t-weight-700 {
  font-weight: 700; }

.bf-text-break {
  word-wrap: break-word; }

.bf-t-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.bf-no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.bf-font-sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
 Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
 sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
 "Noto Color Emoji"; }

.bf-font-serif {
  font-family: Georgia, Times, "Times New Roman", serif; }

.bf-font-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
 "Courier New", monospace; }

.bf-h1,
.bf-h2,
.bf-h3,
.bf-h4,
.bf-h5,
.bf-h6 {
  font-weight: 700;
  font-weight: 600;
  margin-top: 0; }

.bf-h1,
.bf-h2,
.bf-h3 {
  margin-bottom: 24px;
  margin-bottom: 24px; }

.bf-h4,
.bf-h5,
.bf-h6 {
  margin-bottom: 12px;
  margin-bottom: 12px; }

.bf-h1 {
  font-size: 36px;
  font-size: 3.6rem; }

.bf-h2 {
  font-size: 30px;
  font-size: 3rem; }

.bf-h3 {
  font-size: 24px;
  font-size: 2.4rem; }

.bf-h4 {
  font-size: 20px;
  font-size: 2rem; }

.bf-h5,
.bf-h6 {
  font-size: 17px;
  font-size: 1.7rem; }

p.bf-lead {
  font-size: 120%; }

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  @media (min-width: 320px) {
    body.bf-responsive-typography {
      font-size: calc(1.7rem + 3 * ((100vw - 320px) / 680)); } }
  @media (min-width: 1000px) {
    body.bf-responsive-typography {
      font-size: 2rem; } } }

.bf-btn {
  display: inline-block;
  cursor: pointer;
  color: #222;
  padding: 8px 16px;
  padding: 0.8rem 1.6rem;
  line-height: normal;
  text-align: center;
  margin: 0;
  background-clip: padding-box;
  vertical-align: baseline;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 3px;
  border-radius: 0.3rem;
  border: 0;
  background-image: none;
  background: #ccc;
  transition: all 0.2s; }
  .bf-btn:hover, .bf-btn:active, .bf-btn:focus {
    text-decoration: none;
    color: #222;
    background: #b3b3b3; }
  .bf-btn:active, .bf-btn:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15); }
  .bf-btn:focus {
    outline: 0; }
  .bf-btn.bf-btn--primary {
    color: #fff;
    background: #007bff; }
    .bf-btn.bf-btn--primary:hover, .bf-btn.bf-btn--primary:active, .bf-btn.bf-btn--primary:focus {
      color: #fff;
      background: #0062cc; }
    .bf-btn.bf-btn--primary:active, .bf-btn.bf-btn--primary:focus {
      box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.25); }

fieldset[disabled] .bf-btn,
.bf-btn[disabled],
.bf-btn.bf-disabled {
  cursor: default !important;
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.5 !important;
  box-shadow: none; }

.bf-focused {
  transition: border 0.2s, background-color 0.2s, box-shadow 0.2s;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.25); }

.bf-disabled {
  cursor: default !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important; }

.bf-invalid,
.bf-invalid:focus {
  color: #ff0000;
  border-color: #ff0000;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25); }

.bf-list-unstyled,
menu ul.bf-list-unstyled,
menu ol.bf-list-unstyled,
ul.bf-list-unstyled ul,
ul.bf-list-unstyled ol,
ol.bf-list-unstyled ol,
ol.bf-list-unstyled ul,
dd.bf-list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

.bf-embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .bf-embed-responsive::before {
    display: block;
    content: "";
    padding-top: 56.25%; }
  .bf-embed-responsive.bf-embed-responsive--4-3::before {
    padding-top: 75%; }
  .bf-embed-responsive .bf-embed-responsive--item,
  .bf-embed-responsive iframe,
  .bf-embed-responsive embed,
  .bf-embed-responsive object,
  .bf-embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.bf-table th,
.bf-table td {
  padding: 4px;
  padding: 0.4rem;
  border-bottom: 1px solid #999;
  margin-bottom: 6px;
  margin-bottom: 0.6rem; }

.bf-table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: scrollbar; }

.bf-table-responsive table {
  width: 100%;
  margin-bottom: 6px;
  margin-bottom: 0.6rem; }

.bf-table-responsive.scrollbar {
  -webkit-overflow-scrolling: auto; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@media print {
  body,
  .bf-container {
    min-width: 992px !important; }
  .bf-table-responsive {
    overflow: auto; }
  .bf-table-responsive table {
    width: auto; }
  .bf-table-responsive table,
  .bf-table {
    border-collapse: collapse !important; } }

@media (prefers-reduced-motion: reduce) {
  .bf-reduced-motion,
  .bf-reduced-motion * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
