:root,
:root.centigram-light {
  --color-background: #fff;
  --color-background-alt: #f4f5f6;
  --color-border-strong: #d1d1d1;
  --color-border-smooth: #e1e1e1;
  --color-foreground: #606c76;
  --color-danger: #ff3860;
  --color-danger-light: #feecf0;
  --color-info: #209cee;
  --color-info-light: #eef6fc;
  --color-primary: #9b4dca;
  --color-primary-light: #f3eaf9;
  --color-success: #23d160;
  --color-success-light: #effaf3;
  --color-warning: #ffdd57;
  --color-warning-light: #fffbeb;
  --font-family: system-ui, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

blockquote {
  border-left: 0.3rem solid var(--color-border-strong);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}
blockquote *:last-child {
  margin-bottom: 0;
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: var(--color-primary);
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.4rem;
  color: var(--color-background);
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.button:focus, .button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: var(--color-foreground);
  border-color: var(--color-foreground);
  color: var(--color-background);
  outline: 0;
}
.button[disabled],
button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type=button][disabled]:focus,
input[type=button][disabled]:hover,
input[type=reset][disabled]:focus,
input[type=reset][disabled]:hover,
input[type=submit][disabled]:focus,
input[type=submit][disabled]:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.button.button-outline,
button.button-outline,
input[type=button].button-outline,
input[type=reset].button-outline,
input[type=submit].button-outline {
  background-color: transparent;
  color: var(--color-primary);
}
.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type=button].button-outline:focus,
input[type=button].button-outline:hover,
input[type=reset].button-outline:focus,
input[type=reset].button-outline:hover,
input[type=submit].button-outline:focus,
input[type=submit].button-outline:hover {
  background-color: transparent;
  border-color: var(--color-foreground);
  color: var(--color-foreground);
}
.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type=button].button-outline[disabled]:focus,
input[type=button].button-outline[disabled]:hover,
input[type=reset].button-outline[disabled]:focus,
input[type=reset].button-outline[disabled]:hover,
input[type=submit].button-outline[disabled]:focus,
input[type=submit].button-outline[disabled]:hover {
  border-color: inherit;
  color: var(--color-primary);
}
.button.button-clear,
button.button-clear,
input[type=button].button-clear,
input[type=reset].button-clear,
input[type=submit].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}
.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type=button].button-clear:focus,
input[type=button].button-clear:hover,
input[type=reset].button-clear:focus,
input[type=reset].button-clear:hover,
input[type=submit].button-clear:focus,
input[type=submit].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-foreground);
}
.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type=button].button-clear[disabled]:focus,
input[type=button].button-clear[disabled]:hover,
input[type=reset].button-clear[disabled]:focus,
input[type=reset].button-clear[disabled]:hover,
input[type=submit].button-clear[disabled]:focus,
input[type=submit].button-clear[disabled]:hover {
  color: var(--color-primary);
}

code {
  background: var(--color-background-alt);
  border-radius: 0.4rem;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

pre {
  background: var(--color-background-alt);
  border-left: 0.3rem solid var(--color-primary);
  overflow-y: hidden;
}
pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

hr {
  border: 0;
  border-top: 0.1rem solid var(--color-border-smooth);
  margin: 3rem 0;
}

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
  background-color: transparent;
  color: var(--color-foreground);
  border: 0.1rem solid var(--color-border-strong);
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1rem 0.7rem;
  width: 100%;
}
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: var(--color-primary);
  outline: 0;
}
input[type=color]::-moz-placeholder, input[type=date]::-moz-placeholder, input[type=datetime]::-moz-placeholder, input[type=datetime-local]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=month]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=time]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=week]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  opacity: 0.4;
}
input[type=color]::placeholder,
input[type=date]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=email]::placeholder,
input[type=month]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=time]::placeholder,
input[type=url]::placeholder,
input[type=week]::placeholder,
input:not([type])::placeholder,
textarea::placeholder,
select::placeholder {
  opacity: 0.4;
}
input[type=color][disabled], input[type=color][readonly],
input[type=date][disabled],
input[type=date][readonly],
input[type=datetime][disabled],
input[type=datetime][readonly],
input[type=datetime-local][disabled],
input[type=datetime-local][readonly],
input[type=email][disabled],
input[type=email][readonly],
input[type=month][disabled],
input[type=month][readonly],
input[type=number][disabled],
input[type=number][readonly],
input[type=password][disabled],
input[type=password][readonly],
input[type=search][disabled],
input[type=search][readonly],
input[type=tel][disabled],
input[type=tel][readonly],
input[type=text][disabled],
input[type=text][readonly],
input[type=time][disabled],
input[type=time][readonly],
input[type=url][disabled],
input[type=url][readonly],
input[type=week][disabled],
input[type=week][readonly],
input:not([type])[disabled],
input:not([type])[readonly],
textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly] {
  background-color: var(--color-background-alt);
}

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>');
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 3rem;
}
select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}
select[multiple] {
  background: none;
  height: auto;
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: 400;
  margin-left: 0.5rem;
}

input[type=file] {
  margin-left: -15rem;
  visibility: hidden;
  width: 15rem;
}

.container {
  margin: 0 auto;
  max-width: 112rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.row.row-no-padding {
  padding: 0;
}
.row.row-no-padding > .column {
  padding: 0;
}
.row.row-wrap {
  flex-wrap: wrap;
}
.row.row-top {
  align-items: flex-start;
}
.row.row-bottom {
  align-items: flex-end;
}
.row.row-center {
  align-items: center;
}
.row.row-stretch {
  align-items: stretch;
}
.row.row-baseline {
  align-items: baseline;
}
.row .column {
  display: block;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}
.row .column.column-offset-10 {
  margin-left: 10%;
}
.row .column.column-offset-20 {
  margin-left: 20%;
}
.row .column.column-offset-25 {
  margin-left: 25%;
}
.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}
.row .column.column-offset-40 {
  margin-left: 40%;
}
.row .column.column-offset-50 {
  margin-left: 50%;
}
.row .column.column-offset-60 {
  margin-left: 60%;
}
.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}
.row .column.column-offset-75 {
  margin-left: 75%;
}
.row .column.column-offset-80 {
  margin-left: 80%;
}
.row .column.column-offset-90 {
  margin-left: 90%;
}
.row .column.column-10 {
  max-width: 10%;
}
.row .column.column-20 {
  max-width: 20%;
}
.row .column.column-25 {
  max-width: 25%;
}
.row .column.column-33, .row .column.column-34 {
  max-width: 33.3333%;
}
.row .column.column-40 {
  max-width: 40%;
}
.row .column.column-50 {
  max-width: 50%;
}
.row .column.column-60 {
  max-width: 60%;
}
.row .column.column-66, .row .column.column-67 {
  max-width: 66.6666%;
}
.row .column.column-75 {
  max-width: 75%;
}
.row .column.column-80 {
  max-width: 80%;
}
.row .column.column-90 {
  max-width: 90%;
}
.row .column.column-top {
  align-self: flex-start;
}
.row .column.column-bottom {
  align-self: flex-end;
}
.row .column.column-center {
  align-self: center;
}

@media (min-width: 42rem) {
  .row {
    flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1rem;
  }
}
@media (max-width: 40rem) {
  .row .column.column-offset-10, .row .column.column-offset-20, .row .column.column-offset-25, .row .column.column-offset-33, .row .column.column-offset-34, .row .column.column-offset-40, .row .column.column-offset-50, .row .column.column-offset-60, .row .column.column-offset-66, .row .column.column-offset-67, .row .column.column-offset-75, .row .column.column-offset-80, .row .column.column-offset-90 {
    margin-left: 0%;
  }
  .row .column.column-10, .row .column.column-20, .row .column.column-25, .row .column.column-33, .row .column.column-34, .row .column.column-40, .row .column.column-50, .row .column.column-60, .row .column.column-66, .row .column.column-67, .row .column.column-75, .row .column.column-80, .row .column.column-90 {
    max-width: 100%;
  }
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:focus, a:hover {
  color: var(--color-foreground);
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 3rem;
}

.notification {
  border-left-style: solid;
  border-left-width: 0.3rem;
  color: var(--color-foreground);
  margin-bottom: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}
.notification.is-danger {
  background: var(--color-danger-light);
  border-left-color: var(--color-danger);
}
.notification.is-info {
  background: var(--color-info-light);
  border-left-color: var(--color-info);
}
.notification.is-primary {
  background: var(--color-primary-light);
  border-left-color: var(--color-primary);
}
.notification.is-primary::-moz-selection {
  background: var(--color-background);
  color: var(--color-foreground);
}
.notification.is-primary::selection {
  background: var(--color-background);
  color: var(--color-foreground);
}
.notification.is-success {
  background: var(--color-success-light);
  border-left-color: var(--color-success);
}
.notification.is-warning {
  background: var(--color-warning-light);
  border-left-color: var(--color-warning);
}
.notification *:last-child {
  margin-bottom: 0;
}
.notification a {
  color: currentcolor;
  text-decoration: underline;
}

ul.notification {
  list-style: none;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: 1rem;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid var(--color-border-smooth);
  padding: 1.2rem 1.5rem;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}

th {
  font-weight: 600;
}

@media (min-width: 42rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}
b,
strong {
  font-weight: 700;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center-text {
  text-align: center;
}

::-moz-selection {
  background-color: var(--color-primary-light);
  color: var(--color-foreground);
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-foreground);
}

mark {
  background-color: var(--color-primary);
  color: var(--color-background);
}
mark::-moz-selection {
  color: var(--color-foreground);
}
mark::selection {
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2c2d2e;
    --color-background-alt: #141516;
    --color-border-strong: #666;
    --color-border-smooth: #555;
    --color-foreground: #d2d2d2;
    --color-danger-light: #fdd5de;
    --color-info-light: #d9ebf8;
    --color-primary: #aa68d2;
    --color-primary-light: #e8d7f4;
    --color-success-light: #dcf4e5;
    --color-warning-light: #fff6d3;
  }
  select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23666" d="M0,0l6,8l6-8"/></svg>');
  }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23aa68d2" d="M0,0l6,8l6-8"/></svg>');
  }
  .notification.is-danger, .notification.is-info, .notification.is-primary, .notification.is-success, .notification.is-warning {
    color: var(--color-background-alt);
  }
  ::-moz-selection, mark::-moz-selection {
    color: var(--color-background);
  }
  ::selection,
  mark::selection {
    color: var(--color-background);
  }
}
:root.centigram-dark {
  --color-background: #2c2d2e;
  --color-background-alt: #141516;
  --color-border-strong: #666;
  --color-border-smooth: #555;
  --color-foreground: #d2d2d2;
  --color-danger-light: #fdd5de;
  --color-info-light: #d9ebf8;
  --color-primary: #aa68d2;
  --color-primary-light: #e8d7f4;
  --color-success-light: #dcf4e5;
  --color-warning-light: #fff6d3;
}
:root.centigram-dark select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23666" d="M0,0l6,8l6-8"/></svg>');
}
:root.centigram-dark select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23aa68d2" d="M0,0l6,8l6-8"/></svg>');
}
:root.centigram-dark .notification.is-danger, :root.centigram-dark .notification.is-info, :root.centigram-dark .notification.is-primary, :root.centigram-dark .notification.is-success, :root.centigram-dark .notification.is-warning {
  color: var(--color-background-alt);
}
:root.centigram-dark ::-moz-selection, :root.centigram-dark mark::-moz-selection {
  color: var(--color-background);
}
:root.centigram-dark ::selection,
:root.centigram-dark mark::selection {
  color: var(--color-background);
}

:root.centigram-light select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>');
}
:root.centigram-light select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}
:root.centigram-light .notification.is-danger, :root.centigram-light .notification.is-info, :root.centigram-light .notification.is-primary, :root.centigram-light .notification.is-success, :root.centigram-light .notification.is-warning {
  color: var(--color-foreground);
}
:root.centigram-light ::-moz-selection, :root.centigram-light mark::-moz-selection {
  color: var(--color-foreground);
}
:root.centigram-light ::selection,
:root.centigram-light mark::selection {
  color: var(--color-foreground);
}
