/*! concrete.css v1.3.0 | MIT License | github.com/louismerlin/concrete.css/ */

/* The Basics */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-weight: 400;
  background: white;
  color: #121212;
  font-family: Helvetica, Arial, sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

a {
  color: #121212;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.2rem;
}

img {
  height: auto;
  max-width: 100%;
}

/* A Cool Container */

.container {
  margin: 0 auto;
  max-width: 66rem;
  padding: 0 1rem;
  width: 100%;
  position: relative;
}

/* The Button */

.button {
  text-decoration: none;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  background: white;
  line-height: 2.2rem;
  font-size: 1.6rem;
  color: #121212;
  border: 0.3rem solid #121212;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

button.filled,
.button.filled,
input[type="button"].filled,
input[type="reset"].filled,
input[type="submit"].filled {
  color: white;
  background: #121212;
}

.button,
button,
dd,
dt,
li,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  margin-bottom: 1.0rem;
}

/* The List */

ul {
  list-style: square;
}

/* The Form */

fieldset {
  border-width: 0;
  padding: 0;
}

label, legend {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #121212;
  border-radius: 0;
  box-shadow: none;
  box-sizing: inherit;
  padding: .6rem 1.0rem;
  width: 100%;
}

fieldset, input, select, textarea {
  margin-bottom: 1.5rem;
}

/* The Table */

table {
  width: 100%;
  border-spacing: 0;
}

td, th {
  padding: 0.6rem 0;
}

td {
  border-bottom: 0.1rem solid #121212;
}

th {
  border-bottom: 0.3rem solid #121212;
  text-align: left;
}

/* The Blockquote and the Code */

blockquote, pre {
  border-left: 0.3rem solid #121212;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
  overflow-y: hidden;
}

pre {
  border: 0.1rem dotted #121212;
  border-left: 0.3rem solid #121212;
}

pre > code {
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  white-space: pre;
  display: block;
}

/* The Progress Bar */

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  height: 1rem;
  border: 0.1rem solid #121212;
  background: white;
  color: #121212;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: #121212;
}
progress::-moz-progress-bar {
  background-color: #121212;
}
progress::-ms-fill {
  background-color: #121212;
}

/* The Break Line */

hr {
  border: 0.2rem solid #121212;
  border-bottom-width: 0.1rem;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: white;
  }
  a {
    color: white;
  }
  button,
  .button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    background: #121212;
    color: white;
    border-color: white;
  }
  button.filled,
  .button.filled,
  input[type="button"].filled,
  input[type="reset"].filled,
  input[type="submit"].filled {
    color: #121212;
    background: white;
  }
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
    color: white;
    border-color: white;
  }
  td {
    border-bottom-color: white;
  }
  th {
    border-bottom-color: white;
  }
  blockquote, pre {
    border-left-color: white;
  }
  pre {
    border-color: white;
    border-left-color: white;
  }
  progress {
    border-color: white;
    background: #121212;
    color: white;
  }
  progress::-webkit-progress-bar {
    background-color: #121212;
  }
  progress::-webkit-progress-value {
    background-color: white;
  }
  progress::-moz-progress-bar {
    background-color: white;
  }
  progress::-ms-fill {
    background-color: white;
  }
  hr {
    border-color: white;
  }
}
