body {
  word-wrap: break-word;
  font-family: consolas, monaco, courier, "courier new", fixed-width;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
blockquote,
em,
strong,
code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: consolas, monaco, courier, "courier new", fixed-width;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
blockquote,
ol,
ul,
li,
p,
section,
header,
footer {
  float: none;
  margin: 0;
  padding: 0;
}
h1,
p,
ul,
ol,
pre,
blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
}
h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
h1 + * {
  margin-top: 0;
}
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-bottom: 20px;
}
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  content: "## ";
  display: inline;
}
h3:before {
  content: "### ";
}
h4:before {
  content: "#### ";
}
h5:before {
  content: "##### ";
}
h6:before {
  content: "###### ";
}
li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
}
li:after {
  position: absolute;
  top: 0;
  left: 0;
}
ul > li:after {
  content: "*";
}
ol {
  counter-reset: ol;
}
ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
pre {
  margin-left: 34px;
  padding-left: 4ch;
}
blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
strong:before,
strong:after {
  content: "__";
  display: inline;
}
em:before,
em:after {
  content: "*";
  display: inline;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:before {
  content: "[";
  display: inline;
  color: #333333;
}
a:after {
  content: "](" attr(href) ")";
  display: inline;
  color: #333333;
}
code {
  font-weight: 100;
}
code:before,
code:after {
  content: "`";
  display: inline;
}
pre code:before,
pre code:after {
  content: none;
}
hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
img {
  display: inline;
  content: "";
  height: 1px
}
img:before {
  content: "![" attr(alt) "](" attr(src) ")";
  display: inline;
  color: #333333;
}
/*th:after {
  content: "---";
}*/
td:after {
  content: " | ";
}
td:last-child:after {
  content: "";
}
td {
  margin: 0;
  padding: 0;
}

th {
  float: none;
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
  font-weight: normal;
}
th:after {
  content: "----------";
  position: absolute;
  bottom: 20px;
  left: 15px;
}
th:before {
  content: " | ";
  position: absolute;
  bottom: 20px;
  left: 0;
  padding-right: 2px;
}
th:first-child:before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
}
/*th:last-child:after {
  content: "--------------";
  position: absolute;
  bottom: 20px;
  left: 0;
}*/

tfoot {
  display: none;
}

/*video {
  display: inline;
  content: "";
  height: 1px
}
audio {
  display: inline;
  content: "";
  height: 1px
}
source {
  display: inline;
  content: "";
  height: 1px
}
source:before {
  content: "![](" attr(src) ")";
  display: inline;
  color: #333333;
}*/

@-moz-document url-prefix() {
  h1 {
    display: block;
  }
}
ol > li:after {
  content: "1.";
}
