/*
| The mu framework v0.3.1
| BafS 2016-2018
*/
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: 18px/1.6 Georgia, "Times New Roman", Times, serif;
  margin: 40px auto;
  max-width: 760px;
  color: #444;
  padding: 0 20px;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

a {
  color: #07c;
  text-decoration: none;
}

a:hover {
  color: #059;
  text-decoration: underline;
}

hr {
  border: 0;
  margin: 25px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-bottom: 25px;
}

td, th, hr {
  border-bottom: 1px solid #ddd;
}

button, select {
  background: #ddd;
  border: 0;
  padding: 9px 20px;
  font-size: 14px;
}

input, table {
  font-size: 16px;
}

input, td, th {
  padding: 5px;
  vertical-align: bottom;
}

code, pre, button:hover {
  background: #eee;
}

pre {
  padding: 8px;
  white-space: pre-wrap;
}

textarea {
  border-color: #ccc;
}

/*
| GRID
*/
.row {
  display: block;
  width: auto;
  min-height: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .c {
  float: left;
}

table, .g2, .g3, .g3-2, .m2, .m3, .m3-2 {
  width: 100%;
}

/*
| Media queries
| Responsive grid, mobile first
*/
@media (min-width: 768px) {
  .g2 {
    width: 50%;
  }

  .m2 {
    margin-left: 50%;
  }

  .g3 {
    width: 33.33%;
  }

  .g3-2 {
    width: 66.66%;
  }

  .m3 {
    margin-left: 33.33%;
  }

  .m3-2 {
    margin-left: 66.66%;
  }
}
