:root {
    color-scheme: dark light;
    --light: #fff;
    --dark: #404040;
}

* {
    box-sizing: border-box;
    color: var(--dark);
}

html {
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: var(--dark);
}

html, button, input {
    font-family: sans-serif;
}

body {
    background-color: var(--light);
    margin: 0;
    max-width: 800px;
    padding: 0 20px 20px 20px;
    line-height: 1.4em;
}

p {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

pre {
    overflow: auto;
}

button, .button {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1em;
    text-align: center;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    line-height: normal;
    cursor: pointer;
}


button:last-child, .button:last-child {
    margin-right: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}


/* Desktop sizes */
@media only screen and (min-width: 600px) {
    ol {
        column-count: 2;
    }
    body {
        margin-left: 60px;
        margin-right: 60px;
    }
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
    * {
        color: var(--light);
    }

    html {
        border-color: var(--light);
    }

    body {
        background-color: var(--dark);
    }

    button, .button, .home, input {
        background-color: var(--light);
        color: var(--dark);
    }
}
