html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  padding-left: 20px;
  font-weight: 300;
}
button,
input {
  outline: none;
}
::-webkit-input-placeholder {
  color: #777;
}
::-moz-input-placeholder {
  color: #777;
}
.container {
  padding: 0 4%;
  margin: 0 auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
nav:after,
.container:after,
.row:after,
.sidebar:after,
.button-group:after {
  display: block;
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
}
.col-sm-3,
.col-sm-6,
.col-sm-9 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-9 {
  width: 75%;
}
nav.nav {
  height: 48px;
  line-height: 48px;
  background: #f7f7f7;
}
nav.nav h1.oh-brand {
  margin: 0;
  background: #fff;
  text-align: center;
  font-size: 24px;
  float: left;
}
nav.nav h1.oh-brand a {
  display: block;
  padding: 0 15px;
  color: #3090e4;
}
nav.nav .oh-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  float: left;
}
nav.nav .oh-menu li {
  float: left;
}
nav.nav .oh-menu li a {
  color: #777;
  padding: 0 10px;
  display: block;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
nav.nav .oh-menu li a:hover {
  color: #333;
  background-color: #f0f0f0;
}
nav.nav.nav-inverse {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
nav.nav.nav-inverse h1.oh-brand {
  background-color: #f9f9f9;
}
nav.nav.nav-inverse a {
  height: 47px;
  line-height: 47px;
}
nav.nav.nav-inverse .oh-menu li a:hover {
  background-color: #f9f9f9;
}
nav.nav-footer {
  position: relative;
  background: #fff;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #eee;
  z-index: 9999;
}
nav.nav-footer .oh-sitename {
  font-size: 18px;
  margin: 0;
}
nav.nav-footer .oh-copy {
  margin-top: 5px;
  font-size: 13px;
  color: #ccc;
}
nav.nav-footer a {
  color: #ccc;
}
nav.nav-footer a:hover {
  color: #3090e4;
}
.oh-search {
  float: left;
}
.oh-search .oh-search-input {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  border: none;
  background: transparent;
  color: #777;
  padding: 0 10px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.oh-search .oh-search-input:focus {
  background: #fff;
}
.nav-inverse .oh-search .oh-search-input {
  height: 46px;
  line-height: 46px;
}
.block {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #eee;
}
.white {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #fff !important;
}
.white-bg {
  color: #333 !important;
  border-color: #e7e7e7 !important;
  background-color: #fff !important;
}
.white-bg:hover {
  background-color: #f7f7f7 !important;
}
.gray {
  color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
  background-color: #fff !important;
}
.gray-bg {
  color: #333 !important;
  background-color: #f5f5f5 !important;
  border-color: #e7e7e7 !important;
}
.light-purple {
  color: #ebcef5 !important;
  border-color: #ebcef5 !important;
  background-color: #fff !important;
}
.light-purple-bg {
  color: #fff !important;
  background-color: #ebcef5 !important;
  border-color: #ebcef5 !important;
}
.yellow {
  color: #ffe900 !important;
  border-color: #ffe900 !important;
  background-color: #fff !important;
}
.yellow-bg {
  color: #fff !important;
  background-color: #ffe900 !important;
  border-color: #ffe900 !important;
}
.black {
  color: #000 !important;
  border-color: #000 !important;
  background-color: #fff !important;
}
.black-bg {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.blue {
  color: #3f729b !important;
  border-color: #3f729b !important;
  background-color: #fff !important;
}
.blue-bg {
  color: #fff !important;
  background-color: #3f729b !important;
  border-color: #3f729b !important;
}
.green {
  color: #009990 !important;
  border-color: #009990 !important;
  background-color: #fff !important;
}
.green-bg {
  color: #fff !important;
  background-color: #009990 !important;
  border-color: #009990 !important;
}
.orange {
  color: #ff9610 !important;
  border-color: #ff9610 !important;
  background-color: #fff !important;
}
.orange-bg {
  color: #fff !important;
  background-color: #ff9610 !important;
  border-color: #ff9610 !important;
}
.brown {
  color: #c28955 !important;
  border-color: #c28955 !important;
  background-color: #fff !important;
}
.brown-bg {
  color: #fff !important;
  background-color: #c28955 !important;
  border-color: #c28955 !important;
}
.pink {
  color: #ff82a6 !important;
  border-color: #ff82a6 !important;
  background-color: #fff !important;
}
.pink-bg {
  color: #fff !important;
  background-color: #ff82a6 !important;
  border-color: #ff82a6 !important;
}
.red {
  color: #d9534f !important;
  border-color: #d9534f !important;
  background-color: #fff !important;
}
.red-bg {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d9534f !important;
}
.light-green {
  color: #f1504d !important;
  border-color: #f1504d !important;
  background-color: #fff !important;
}
.light-green-bg {
  color: #fff !important;
  background-color: #46b491 !important;
  border-color: #46b491 !important;
}
code {
  background: #eee;
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 13px;
}
pre {
  background: #eee;
  padding: 10px;
}
pre code {
  padding: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
.oh-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 2px;
}
.button-default {
  color: #333;
  background-color: #f5f5f5;
  border-color: #e7e7e7;
}
.button-default:hover {
  background-color: #fff;
}
.button-green {
  color: #fff;
  background-color: #69db9b;
  border-color: #69db9b;
}
.button-green:hover {
  background-color: #40d180;
  border-color: #2ebf6e;
}
.button-red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.button-red:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
.button-blue {
  color: #fff;
  background-color: #1f8dd6;
  border-color: #1f8dd6;
}
.button-blue:hover {
  background-color: #0078e7;
  border-color: #0078e7;
}
.button-colorful {
  border: 1px solid transparent;
}
.button-colorful:hover {
  opacity: 0.9;
}
.button-large {
  padding: 10px 16px;
  font-size: 18px;
}
.button-small {
  padding: 5px 10px;
  font-size: 12px;
}
.button-mini {
  padding: 1px 5px;
  font-size: 12px;
}
.button-group .oh-button {
  float: left;
}
.button-group .oh-button+.oh-button {
  margin-left: -1px;
  border-radius: 0;
}
.button-group .oh-button:first-child {
  border-radius: 2px 0 0 2px;
}
.button-group .oh-button:last-child {
  border-radius: 0 2px 2px 0;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown-sep {
  position: absolute;
  width: 100%;
  height: 20px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown .dropdown-menu {
  padding: 5px 0;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  text-align: left;
  z-index: 99999;
  -webkit-box-shadow: 0 10px 40px rgba(0,0,0,0.06);
  box-shadow: 0 10px 40px rgba(0,0,0,0.06);
}
.dropdown .dropdown-menu li a {
  display: block;
  padding: 8px 15px;
}
.dropdown .dropdown-menu li a:hover {
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu:before,
.dropdown .dropdown-menu:after {
  position: absolute;
  top: -8px;
  left: 16px;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.dropdown .dropdown-menu:before {
  top: -9px;
  border-bottom-color: rgba(0,0,0,0.1);
}
.state {
  display: inline-block;
}
[class*="state-"] {
  color: #fff;
}
